@using CMS.Domain.ViewModels
@using CMS.Domain.Common
@model PageViewModel

@if (Model.pageList != null && Model.pageList.Any())
{
    <div class="table-responsive">
        <table class=" table">
            <thead style="background-color:#12cf77">
                <tr>
                    <th>تصویر</th>
                    <th>نام دسته بندی</th>
                    <th>عنوان</th>
                    <th>آمار بازدید</th>
                    <th>اسلاید</th>
                    <th>تاریخ ایجاد</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.pageList)
                    {
                        <tr>
                            <td>
                                <img src="/PageImages/@item.ImageName" class="thumbnail" style="max-width: 120px" />
                            </td>
                            <td>@item.pagegroup.GroupTitle</td>
                            <td>@item.Title</td>
                            <td>@item.Visit</td>
                            @*<td>@item.ShowInSlider</td>*@
                            <td>@(item.ShowInSlider ? "بله" : "خیر")</td>
                            <td>@item.CreateDate.ToShamsi()</td>
                            <td>
                                @*<a type="button" class="btn btn-success" asp-action="Detail" asp-route-id="@item.PageId">مشاهده جزئیات</a>
                                <a type="button" class="btn btn-info" asp-action="Edit" asp-route-id="@item.PageId">ویرایش</a>
                                <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.PageId">حذف</a>*@
                                <a role="button" class="btn-icon fa-lg" onclick="openDetailsPage(@item.PageId)" title="مشاهده جزئیات"><i class='fas fa-info-circle fa-lg'></i></a>
                                <a role="button" class="btn-icon fa-lg" onclick="openEditPage(@item.PageId)" title="ویرایش"><i class='fas fa-edit'></i></a>
                                <a role="button" class="btn-icon fa-lg" onclick="openDeletePage(@item.PageId)" title="حذف"><i class='fas fa-trash'></i></a>
                               @*<a type="button" class="btn btn-secondary" asp-controller="PageComment" asp-action="Index" asp-route-pageid="@item.PageId">رفتن به نظرات</a>*@
                                <a type="button" class="btn-icon fa-lg" onclick="openCommentPage(@item.PageId)" title="رفتن به نظرات"><i class='fas fa-comments'></i></a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="alert alert-info w-100 text-center" style="text-align:center;font-family : yekan">
        موردی یافت نشد
    </div>
}