<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CMS.Presentation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CMS.Presentation.styles.css" asp-append-version="true" />
    @* <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" /> *@
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"> صفحه اصلی سایت</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="#">@User.Identity.Name خوش آمدید</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="row">
                <div class="col-md-2">
                    <aside>
                        <ul class="list-group">
                            <li class="list-group-item @(ViewContext.RouteData.Values["controller"].ToString() == "Page" ? "active" : "")">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Page" asp-action="Index">خبرها</a>
                            </li>
                            <li class="list-group-item @(ViewContext.RouteData.Values["controller"].ToString() == "PageGroup" ? "active" : "")">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="PageGroup" asp-action="Index">دسته‌بندی‌ها</a>
                            </li>
                            <li class="list-group-item @(ViewContext.RouteData.Values["controller"].ToString() == "PageComment" ? "active" : "")">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="PageComment" asp-action="Index">نظرات</a>
                            </li>
                        </ul>
                    </aside>
                </div>
                <div class="col-md-10" id="renderbody">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - CMS.Presentation - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/select2.min.js"></script>
    <script src="~/js/admin/pagegroup.js"></script>
    <script src="~/js/admin/page.js"></script>
    <script src="~/js/admin/PageComment.js"></script>
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
    @RenderSection("Script", false)
</body>
</html>

<!-- Modal -->
<div class="modal" tabindex="-1" id="mymodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mymodallable">Modal title</h5>
                <button type="button" class="btn-close-right btn-close" data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="modal" data-bs-target="#mymodal"></button>
            </div>
            <div class="modal-body" id="bodymodal">
            </div>
            @*  <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div> *@
        </div>
    </div>
</div>